/* Base Variables */
:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #ffffff;
    --color-secondary: #363F66;
    --color-border: #dddddd;
    --color-muted: #6f789e;
    --color-code-bg: #f8f9fa;
    --color-link-hover: #0056b3;
}

/* Dark Mode Variables */
.dark {
    --color-bg: #1e1e2e;
    --color-text: #f0f0f0;
    --color-primary: #2E2E3E;
    --color-secondary: #1e1e2e;
    --color-border: #444455;
    --color-muted: #cccccc;
    --color-code-bg: #2e2e3e;
    --color-link-hover: #99ccff;
}

/* Base Breakpoint Variables */
:root {
    --breakpoint-sm: 576px;  /* Small screens (mobile) */
    --breakpoint-md: 768px;  /* Medium screens (tablet) */
    --breakpoint-lg: 992px;  /* Large screens (desktop) */
    --breakpoint-xl: 1200px; /* Extra-large screens (large desktop) */
}

/* BASE ANIMATION VARIABLES */
:root {
    --animation-duration: 0.5s; /* Default duration */
    --animation-ease: ease-in-out; /* Default easing */
    --animation-delay: 0s; /* Default delay */
}
